mat-card {
  max-width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.column-flex {
  display: flex;
  flex-direction: column ;
  min-width: 300px;
}

.load-spinner {
  background: rgba(0, 0 ,0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
