mat-card {
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.form-container {
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
